@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

body {
  width: 100dvw;
  background-color: #404040;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
section {
  width: 100dvw;
}

@theme {
  --color-cherry-red: #ef4444;
  --color-obsidian: #18181b;
  --color-midnight-black: #09090b;
  --color-slate-gray: #71717a;
  --color-royal-blue: #2563eb;
  --color-snow-white: #fafafa;
  --color-cloude-gray: #f4f4f5;
  --color-light-gray: #e4e4e7;
}
.form-container {
  @apply w-full max-w-md space-y-6;
}
.heading {
  @apply font-medium text-2xl leading-8 text-[#09090b];
}
.paragraph {
  @apply font-normal text-base text-[#71717a];
}
.long-button {
  @apply w-full text-[#fafafa] bg-[#18181b] cursor-pointer mt-6;
}
.accent {
  @apply text-[#2563eb] text-center font-normal text-base;
}
.bottom-container {
  @apply flex items-center justify-center gap-1 text-sm;
}
.pointer {
  @apply cursor-pointer;
}
.error {
  @apply font-normal text-sm leading-5 text-[#EF4444] mt-2;
}
.button {
  @apply rounded-full font-medium cursor-pointer;
}
.footer-header {
  @apply font-medium text-base text-[#71717A];
}
.footer-text {
  @apply font-normal text-base text-[#FAFAFA] mt-3;
}
.order-card-title {
  @apply text-slate-gray text-xl font-semibold;
}
