@import "tailwindcss";
@import "tw-animate-css";

.form-container {
  width: 416px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.heading {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #09090b;
}
.paragraph {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #71717a;
}
.long-button {
  width: 100%;
  color: #fafafa;
  background-color: #18181b;
  cursor: pointer;
}
.accent {
  color: #2563eb;
  text-align: center;
}
.bottom-container {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.pointer {
  cursor: pointer;
}
