@import "tailwindcss";
@import "tw-animate-css";

.form-container {
  @apply w-full max-w-sm space-y-6
  /* width: 416px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem; */;
}
.heading {
  @apply font-medium text-2xl leading-8 text-[#09090b];
}
.paragraph {
  @apply font-normal text-base text-[#71717a];
}
.long-button {
  @apply w-full text-[#fafafa] bg-[#18181b] cursor-pointer;
}
.accent {
  @apply text-[#2563eb] text-center;
}
.bottom-container {
  @apply flex items-center justify-center gap-1 text-sm;
}
.pointer {
  @apply cursor-pointer;
}
